/* malinacss:C:/Users/yulmizar/Desktop/nodejs/test/app/src/components/Img.malina.css */
.avatar.mkdu7le {
  display: inline-block;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 100%;
}

/* malinacss:C:/Users/yulmizar/Desktop/nodejs/test/app/src/containers/E404.malina.css */
hgroup.myypk5h {
  text-align: center;
}
h6.myypk5h {
  text-transform: uppercase;
}
